@model ProductDto
@{
}

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Edit Product</h2>

        @using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Id</label>
                <div class="col-sm-8">
                    <input class="form-control" value="@ViewData["ProductId"]" readonly>
                </div>
            </div>
            <div class="row mb-3">
                @Html.LabelFor(model => model.Name, new { @class = "col-sm-4 col-form-label" })
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row mb-3">
                @Html.LabelFor(model => model.Brand, new { @class = "col-sm-4 col-form-label" })
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.Brand, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Brand, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row mb-3">
                @Html.LabelFor(model => model.Category, new { @class = "col-sm-4 col-form-label" })
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.Category, new SelectList(new[]
                             {
                new { Value = "Other", Text = "Other" },
                new { Value = "Phones", Text = "Phones" },
                new { Value = "Computers", Text = "Computers" },
                new { Value = "Accessories", Text = "Accessories" },
                new { Value = "Printers", Text = "Printers" },
                new { Value = "Cameras", Text = "Cameras" }
                }, "Value", "Text", Model.Category), new { @class = "form-select" })
                </div>
            </div>

            <div class="row mb-3">
                @Html.LabelFor(model => model.Price, new { @class = "col-sm-4 col-form-label" })
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row mb-3">
                @Html.LabelFor(model => model.Description, new { @class = "col-sm-4 col-form-label" })
                <div class="col-sm-8">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", id = "editor" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-8 offset-sm-4">
                    <img src="/products/@ViewData["ImageFileName"]" width="150" height="150" />
                </div>
            </div>

            <div class="row mb-3">
                @Html.LabelFor(model => model.ImageFileName, new { @class = "col-sm-4 col-form-label" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.ImageFileName, new { @class = "form-control", type = "file" })
                    @Html.ValidationMessageFor(model => model.ImageFileName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Create At</label>
                <div class="col-sm-8">
                    <input class="form-control" value="@ViewData["CreateAt"]" readonly>
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-4 col-4 d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Products" asp-action="Index" role="button">
                        Cancel
                    </a>
                </div>
            </div>
        }
    </div>
</div>

<script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor');
</script>
